*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #491000;
}

li {
  list-style: none;
}

a {
  color: #883E24;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #DFD9AB;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar { 
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #883E24;
}

@media (max-width: 768px){
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position:fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #7E0000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }
}

.minilogo {
  width: 70px;
  height: auto;
  position: relative;
}

/* Baseline Smart Phone Portrait*/
@media (min-width: 320px){
  h1 { font-size: 14px;}
  p {font-size: 10px;}
}

/* Baseline Smart Phone Landscape*/
@media (min-width: 480px){
  h1 { font-size: 18px;}
  p {font-size: 12px;}
}

/* Baseline Tablet portrait*/
@media (min-width: 768px){
  h1 { font-size: 22px;}
  p {font-size: 14px;}
}

/* Baseline Tablet Landscape*/
@media (min-width: 1024px){
  h1 { font-size: 30px;}
  p {font-size: 18px;}
}

/* Baseline Desktop*/
@media (min-width: 1200px){
  h1 { font-size: 40px;}
  p {font-size: 22px;}
}


body {
  margin: 0;
  padding: 40px;
  font-family: "hind", sans-serif;
  color: #883E24;
  background-size: cover;
}
/*Login Page*/
.box {
  width: 100%;
  padding: 40px;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-60%);
  background-color: #883E24;
  background-size: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box h1 {
  width: 300px;
  color: #DFD9AB;
  text-transform: uppercase;
  font-weight: 700;
}
.box input[type="text"],.box input[type="password"] 
{
border: 20px;
background-color: #883E24;
background-size: 900px;
display: block;
margin: 20px auto; 
text-align: center;
border: 3px solid #7E0000;
padding: 14px 10px;
width: 220px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25px;
}

.box input[type="text"],:focus,.box input[type="password"] :focus{
  width:270px;
  border-color: #DFD9AB;
}

.box input[type="submit"]{

border: 400px;
width: 400px;
background: #883E24;
display: block;
margin: 20px auto;
text-align: center;
border: 3px solid #DFD9AB;
padding: 14px 10px;
width: 220px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25px;
cursor: pointer;
}

.box input[type="submit"]:hover{
  background: #491000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.box.center {
  background: #883E24;
  position:absolute;
  width: max-content;
  align-content: center;
    left: 50;
    right: 50;
    margin-left:auto;
    margin-right:auto;
}

/*Contact Sheet*/
.container{
  width: 100%;
  height: 100vh;
  background: #883E24;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  background: #883E24;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h1{
  color: #191312;
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: #DFD9AB;
  background: #491000;
  font-size: 16px;
  font-family: "hind", sans-serif;
  color: #DFD9AB;
}

form button{
  padding: 15px;
  background: #491000;
  color: #DFD9AB;
  font-size: 18px;
  font-family: "hind", sans-serif;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}



/*General*/
h1 {
  color: #DFD9AB;
  font-family: "hind", sans-serif;
  font-weight: 400;
  font-style: normal;;
  font-size: 300%;
  text-align: center;
}
h2 {
    color: #DFD9AB;
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;;
    font-size: 200%;
    text-align: center;
  

}

h3 {
  color: #883E24;
  font-family: "hind", sans-serif;
  font-weight: 400;
  font-style: normal;;
  font-size: 100%;
  text-align: center;


}

p {
  color: #DFD9AB;
  font-family: "hind", sans-serif;
  font-weight: 400;
  font-style: normal;;
  font-size: 160%;
  text-align: left;
}

body {background-color: #491000;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

button {
	background-color: #491000;
	color:#DFD9AB;
	font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;;
    font-size: 90%;
    text-align: center;	
}

.menucontainer {
  background: #491000;
  position:absolute;
  width: max-content;
  align-content: center;
  display: inline-block;
    left: 50;
    right: 50;
    margin-left:auto;
    margin-right:auto;
}

.menuheader {
    display: inline-block;
    line-height: 100px;
    text-decoration: none;
    font-size: 30px;
    font-family: "hind", sans-serif;
    color: #DFD9AB;
  
}

.menutitle:hover {
  color: #DFD9AB;
  transition: 0.7s ease;
}

.img2 {
  position:absolute;
  width: max-content;
  align-content: center;
  display: inline-block;
  size: 50px; ;
}

.custom {
  font-family: "hind", sans-serif;
  color: #DFD9AB;


}

.menusub [class="menusub"] {
  border: 20px;
  background-color: #491000;
  background-size: 900px;
  display: block;
  margin: 20px auto; 
  text-align: center;
  border: 3px solid #7E0000;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}

.container [class="name"] {
  border: 20px;
  background-color: #491000;
  background-size: 900px;
  display: block;
  margin: 20px auto; 
  text-align: center;
  border: 3px solid #DFD9AB;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}

.container [class="email"] {
  border: 20px;
  background-color: #491000;
  background-size: 900px;
  display: block;
  margin: 20px auto; 
  text-align: center;
  border: 3px solid #7E0000;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}

.container [class="phone"] {
  border: 20px;
  background-color: #491000;
  background-size: 900px;
  display: block;
  margin: 20px auto; 
  text-align: center;
  border: 3px solid #DFD9AB;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}

.container [class="contactmsg"] {
  border: 20px;
  background-color: #491000;
  background-size: 900px;
  display: block;
  margin: 20px auto; 
  text-align: center;
  border: 3px solid #7E0000;
  padding: 14px 10px;
  width: 420px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}

.a [class="locbutton"] {
  border: 20px;
  background-color: #491000;
  background-size: 900px;
  display: block;
  margin: 20px auto; 
  text-align: center;
  border: 3px solid #7E0000;
  padding: 14px 10px;
  width: 420px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}

.info {
  text-align: center;
}