*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #491000;
}

li {
  list-style: none;
}

a {
  color: #883E24;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #DFD9AB;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar { 
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #883E24;
}

@media (max-width: 768px){
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #7E0000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }
}
body {
  margin: 0;
  padding: 40px;
  font-family: "hind", sans-serif;
  color: #883E24;
  background-size: cover;
}

.box {
  width: 900px;
  padding: 40px;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-60%);
  background-color: #883E24;
  background-size: 6000px;
  text-align: center;
}

.box h1 {
  width: 300px;
  color: #DFD9AB;
  text-transform: uppercase;
  font-weight: 700;
}
.box input[type="text"],.box input[type="password"] 
{
border: 20px;
background-color: #883E24;
background-size: 900px;
display: block;
margin: 20px auto; 
text-align: center;
border: 3px solid #7E0000;
padding: 14px 10px;
width: 220px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25px;
}

.box input[type="text"],:focus,.box input[type="password"] :focus{
  width:270px;
  border-color: #DFD9AB;
}

.box input[type="submit"]{

border: 400px;
width: 400px;
background: #883E24;
display: block;
margin: 20px auto;
text-align: center;
border: 3px solid #DFD9AB;
padding: 14px 10px;
width: 220px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25px;
cursor: pointer;
}

.box input[type="submit"]:hover{
  background: #491000;
}

form.box.center {
  width: 379px;
  height: 379px;
  padding: 40px;
}

h1 {
  color: #DFD9AB;
  font-family: "hind", sans-serif;
  font-weight: 400;
  font-style: normal;;
  font-size: 300%;
  text-align: center;
}
h2 {
    color: #DFD9AB;
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;;
    font-size: 200%;
    text-align: center;

}
p {
  color: #DFD9AB;
  font-family: "hind", sans-serif;
  font-weight: 400;
  font-style: normal;;
  font-size: 160%;
  text-align: left;
}

body {background-color: #491000;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
button {
	background-color: #491000;
	color:#DFD9AB;
	font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;;
    font-size: 90%;
    text-align: center;	
}